.users {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
}
.users .inner,
.users .outer {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* Inner */
.users .inner {
  display: block;
}
.users .inner .inner-head {
  width: 100%;
  height: 50px;
  border-bottom: 1px dashed var(--grey-color-2);
}
.users .inner .inner-head .t-2 {
  font-size: var(--size-102);
  font-weight: 700;
}
.users .inner .inner-head .t-3 {
  font-size: var(--size-07);
  font-weight: 600;
}
.users .inner .actions {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--size-02) 0;
}
.users .inner .actions .button {
  display: flex;
  align-items: center;
  background-color: var(--black-color);
  font-size: var(--size-07);
  margin: 0 var(--size-02);
}
.users .inner .actions .button:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.users .inner .actions .button .icon {
  margin-right: var(--size-05);
}
.users .inner .actions .button.btn-new {
  background-color: var(--color-1);
}
.users .inner .actions .button.btn-export {
  background-color: var(--black-color);
}
.users .inner .actions .button.btn-validate {
  background-color: var(--green-color);
}
.users .inner .content {
  width: 100%;
  height: calc(100% - 95px);
}
.users .inner .content .table {
  overflow-y: auto;
}
.users .inner .content .table thead th {
  background-color: var(--grey-color-3);
  position: sticky;
  top: 0;
  z-index: 1;
}
.users .inner .content .table .row {
  display: flex;
  align-items: center;
}
.users .inner .content .table .row img {
  max-width: 45px;
  max-height: 45px;
  border: 1px solid var(--grey-color-2);
  border-radius: 100%;
  padding: var(--size-02);
  margin-right: var(--size-05);
}
.users .inner .content .table .row .content-details {
  display: block;
}
.users .inner .content .table .row .content-details .title {
  margin: 0;
  font-weight: 700;
}
.users .inner .content .table .row .content-details .t-2 {
  font-size: var(--size-1);
}
.users .inner .content .table .row .content-details .t-3 {
  font-size: var(--size-09);
  color: var(--grey-color-1);
}
.users .inner .content .table td div {
  display: flex;
  justify-content: center;
}
.users .inner .content .table .btn-action {
  background-color: var(--black-color);
  font-size: var(--size-07);
  margin: 0 var(--size-02);
}
/* Outer */
.users .outer {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: var(--size-1);
}
.users .outer .wrapper {
  width: 50%;
  background-color: var(--white-color);
  border-radius: var(--size-05);
  margin: auto;
  padding: var(--size-05);
}
.users .outer .wrapper .fp-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users .outer .wrapper .fp-head .t-2 {
  margin: 0;
  font-size: var(--size-1);
  font-weight: 600;
}
.users .outer .wrapper .fp-head span {
  cursor: pointer;
  font-size: var(--size-2);
}
.users .outer .wrapper hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: var(--grey-color-2);
  margin: var(--size-1) 0;
}
.users .outer .wrapper form {
  width: 100%;
}
.users .outer .wrapper form .img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--size-05) 0;
}
.users .outer .wrapper form .img-wrapper img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid var(--grey-color-2);
  padding: var(--size-02);
  margin: 0 var(--size-08);
}
.users .outer .wrapper form .img-wrapper .button {
  width: 20%;
  background-color: var(--black-color);
  font-size: var(--size-07);
}
.users .outer .wrapper form .row {
  display: flex;
  justify-content: space-between;
}
.users .outer .wrapper form .row .input-div {
  width: 49%;
}
.users .outer .wrapper form .button {
  width: 100%;
  background-color: var(--color-1);
}
